{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau pointage</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('clocking_index') }}">Retour à la liste</a>
{% endblock %}
